.hiddenComponent {
    display: none;
}

.divLink {
	cursor: pointer;
    color: blue;
    text-decoration: underline;
}

body {
  font-family: Arial, Verdana,  sans-serif;
  font-size: 11pt;
  background-color: #f0f0f0; 
  color: #333; 
}